.wrapper {
    position: absolute;
    top: -50%;
    left: -50%;
    z-index: -10;
}

.shockwave {
    position: relative;
    height: 8em;
    width: 8em;
    background: rgb(51, 191, 226);
    border-radius: 8em;
    -webkit-animation: main-loader 1s infinite;
    animation: main-loader 1s infinite;
    opacity: 0.5;
}

@-webkit-keyframes main-loader {
    0% {
        height: 8em;
        width: 8em;
        margin: 0;
        opacity: 0.6;
    }
    10% {
        height: 12em;
        width: 12em;
        margin: -1.5em;
        opacity: 0.4;
    }
    25% {
        height: 6.4em;
        width: 6.4em;
        margin: .8em;
        opacity: 0.5;
    }
    35% {
        height: 8em;
        width: 8em;
        margin: 0;
        opacity: 0.3;
    }
    45% {
        height: 16em;
        width: 16em;
        margin: -4em;
        opacity: 0.2;
    }
    80% {
        height: 8em;
        width: 8em;
        margin: 0;
        opacity: 0;
    }
}

@keyframes main-loader {
    0% {
        height: 8em;
        width: 8em;
        margin: 0;
        opacity: 0.6;
    }
    10% {
        height: 12em;
        width: 12em;
        margin: -1.5em;
        opacity: 0.4;
    }
    25% {
        height: 6.4em;
        width: 6.4em;
        margin: .8em;
        opacity: 0.5;
    }
    35% {
        height: 8em;
        width: 8em;
        margin: 0;
        opacity: 0.3;
    }
    45% {
        height: 16em;
        width: 16em;
        margin: -4em;
        opacity: 0.2;
    }
    80% {
        height: 8em;
        width: 8em;
        margin: 0;
        opacity: 0;
    }
}

