.type p {
	color: #fff;
}

#splash {
	background-color: black;
}

.jumbotron {
	background-color: black;
}

.container-fluid {
	margin: 0px;
	padding: 0px;
}

.game {
	/*width: 2000px;*/
	/*height: 1500px;*/
	z-index: -5;
	/*background: url('resources/game.jpg') no-repeat;*/
}

.game .infos {
	display: block;
	position: fixed;
	width: 300px;
	height: 50px;
	right: 0px;
	z-index: 1;
	text-align: center;
	color: #fff;
}

.game .infos .bold {
	font-weight: bold;
}

.game .infos img.coin {
	max-height: 30px;
}

.game .tower, .game .follow-tower, .game .monster {
	position: absolute;
	width: 60px;
	height: 60px;
	z-index: 1;
	text-align: center;
}

.game .burning {
	background-color: red;
}

.game .frozen {
	background-color: blue;
}

.game .tower img, .game .follow-tower img, .game .monster img {
	width: 60px;
	height: 60px;
}

.game .tower .towerInfos, .game .follow-tower .towerInfos {
	background-color: white;
    width: 30px;
    height: 60px;
    position: absolute;
    top: 0px;
    opacity: 0.8;
    left: 60px;
    display: none;
}

.game .tower .towerInfos img, .game .follow-tower .towerInfos img {
	width: 30px;
	height: 30px;
	padding: 4px;
	display: block;
}

.game .tower .towerInfos .upgrade div, .game .follow-tower .towerInfos .upgrade div {
    width: 100px;
    height: 100px;
    background-color: white;
    opacity: 1;
    font-size: 10pt;
    position: absolute;
    top: 0px;
    left: 30px;
    display: none;
}

.game .tower .towerInfos .upgrade:hover div, .game .follow-tower .towerInfos .upgrade:hover div {
	display: block;
}

.game .tower .towerInfos .upgrade div img, .game .follow-tower .towerInfos .upgrade div img {
	display: inline;
	margin-top: -10px;
	padding: 0px;
	width: 20px;
	height: 20px;
}

.game .tower .towerInfos .upgrade p, .game .follow-tower .towerInfos .upgrade p {
	margin: 0px;
}

.game .tower .towerInfos .upgrade p.price, .game .follow-tower .towerInfos .upgrade p.price {
	margin-bottom: 5px;
}

.game .monster .progress-bar {
	margin-top: 5px;
}

.game .monster .progress-bar.target {
	background-color: green;
}

.bg-success {
	background-color: rgb(51, 191, 226)!important;
}

.game .monster .money {
	text-align: center;
	display: none;
}

.game .area {
	display: none;
	position: absolute;
	background-color: rgba(100,100,100,0.1);
	z-index: 0;
}

.game .follow-tower {
	/*display: none;*/
}

.game .follow-tower .area {
	display: block;
}

.game .shot {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: black;
}

.game .parcours {
	position: absolute;
	z-index:0;
	cursor: not-allowed;
}

.game .parcours div {
	position: absolute;
	background-color: rgb(135, 51, 139);
	opacity: 1;
}

.game-constructor {
	width: 100%;
	height: 150px;
	position: fixed;
	bottom: 0px;
	background-color: rgba(255,255,255,0.9);
	z-index: 2;
	text-align: center;
	padding: 20px;
}

.game-constructor .tower img.tower {
	max-height: 70px;
}

.game-constructor .tower img.coin {
	max-height: 30px;
	margin-top: -10px;
}

.game-constructor .tower.disabled {
	cursor: not-allowed;
	opacity: 0.7;
}

.game-constructor .infos {
    margin-top: -200px;
    margin-bottom: 20px;
    width: 100%;
    height: 180px;
    padding: 10px;
    background-color: rgba(255,255,255,0.9);
    display: none;
}

.game-constructor .infos p {
	font-size: 11pt;
}

.game .peon {
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 3;
	background: url('../resources/builder.png') no-repeat;
}

.end {
	display: none;
}

.end .row {
	position: relative;
	background-color: rgba(0,0,0,0.9);
	text-align: center;
	padding-top: 200px;
	height: 100vh;
	top: 50%;
}

.end .row h2, .end .row h3, .end .row a {
	color: #fff;
}

.end .playerName {
	color: red;
}
